@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: #050A30;
}

.cont{
  background-color: #050A30;
  width: 1156px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}